@import "tailwindcss";

/* Force dark mode globally */
:root {
  color-scheme: dark;
}

.profile-light * {
	color: #ffffff !important; 
}
.profile-light input,
.profile-light textarea,
.profile-light select,
.profile-light button {
	color: #ffffff !important;
}
.profile-light ::placeholder {
	color: #ffffff !important; 
}
